html, body{
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

.Content{
 	width: 100%;
 	height: 100vh;
 	background: url(../img/header.jpg) no-repeat center;
 	background-size: cover;
 	overflow: hidden;
}

.menubutton{
	text-align: right;
}

.menuicon{
	margin: 20px 20px 0 0;

	width:30px;
	filter: invert(100%);
}
.menuicon:hover{
	filter: invert(0%);
}


.splashmain{
	padding: 10% 0 5% 0;
	text-align: center;

	
}

.logo{
	max-width: 500px;
	min-width: 200px;
	width: 20%;

}

.scroll {
	text-align: center;
	
}
.scrollBtn {
  display: inline-block;
  width: 4em;
  height: 4em;
  border: 0.1em solid #333;
  border-radius: 50%;
  margin-left: 0.75em;
}

.scrollBtn:after {
  content: '';
  display: inline-block;
  margin-top: 0.9em;
  width: 1.4em;
  height: 1.4em;
  border-top: 0.1em solid #333;
  border-right: 0.1em solid #333;
  -moz-transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
}

a:hover .scrollBtn{
  border: 0.1em solid #e81c78;
}

a:hover .scrollBtn:after{
  border-top: 0.1em solid #e81c78;
  border-right: 0.1em solid #e81c78;
}


.cookie {
	position: fixed;
	width: 35%;
    padding: 0;
    margin: 0;
    background: rgba(114, 114, 114, 0.3);
    bottom: 0;
    color: white;
    border-left: 3px solid #e81c78;
}

.text {
    
   	float: left;
   	padding-left: 3%;
   	
}

.text p{
	color: white;
	font-size: 18px;
}

.button {
    background: rgba(40, 40, 40, 0.3);
    width:10%;
    max-width: 25px;
    float: right;
    
}

.button:hover{
	background-color: #f39ac2;
}

.fLogo {
  size: 20%;
  max-width: 60px;
  padding-bottom: 1%;
}
.footer{
  background-color: #292c2f;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  text-align: center;
  font: normal 16px sans-serif;
  padding: 45px 50px;

}
.footer p{
  color: white;

}


